:root {
  --white-border: white;
  --black-border: black solid;
}

header {
  background-color: #aa0078;
  height: 90px;
  color: white;
  display: flex;
}

header h1 {
  margin: auto;
  width: max-content;
  border: var(--white-border);
  font-size: 50px;
  font-weight: 700;
}

main {
    display:flex;
    height: 100%;
    border:var(--black-border);
}

aside {
  width: 500px;
  border: var(--black-border);
  padding: 15px;
  display: flex;
  flex-direction: column;
  height: 700px;
}

aside h2 {
  font-size: 40px;
}

aside input {
  width: 100%;
  margin: 20px 0 0 0;
  font-size: 30px;
  padding: 10px;
}

.button {
  font-size: 25px;
  font-weight: bold;
  background-color:#aa0078;
  color: white;
}

#weather-display {
    width: 65%;
    border: var(--black-border);
    padding: 10px;
}

#now-weather {
    width: 100%;
    border: var(--black-border);
    height: 300px;
    display:flex;
    flex-direction: column;
}

#now-weather h2 {
    padding: 10px;
    font-size: 40px;
}

#now-weather p {
    padding: 10px;
    margin-bottom:20px;
    font-size: 25px;
}