:root {
  --white-border: white;
  --black-border: black solid;
}
body {
  background-color: #f8f5eb;
}

.button {
  border-radius: 10px;
}

header {
  background-color: #aa0078;
  height: 90px;
  color: white;
  display: flex;
}

header h1 {
  margin: auto;
  width: max-content;
  font-size: 50px;
  font-weight: 700;
}

main {
  display: flex;
  height: 100%;
}

aside {
  width: 500px;
  padding: 15px;
  display: flex;
  flex-direction: column;
  height: max-content;
}

aside h2 {
  font-size: 40px;
}

aside input {
  width: 100%;
  margin: 20px 0 0 0;
  font-size: 30px;
  padding: 10px;
}

.button {
  font-size: 25px;
  font-weight: bold;
  background-color: #aa0078;
  color: white;
}

#weather-display {
  width: 65%;
  padding: 10px;
}

#now-weather {
  width: 100%;
  border: var(--black-border);
  background-color: white;
  height: 280px;
  display: flex;
  flex-direction: column;
}

#now-weather h2 {
  padding: 10px;
  font-size: 40px;
}

#now-weather p {
  padding: 10px;
  margin-bottom: 20px;
  font-size: 25px;
}

#fiveday {
  display: flex;
}

.daycard {
  margin: 10px;
  border: var(--black-border);
  width: 20%;
  height: max-content;
  color: white;
  background-color: #000078;
  padding: 10px;
}

.daycard h3 {
  font-size: 30px;
  font-weight: 500px;
}

.daycard p {
  margin: 25px 0;
  font-size:20px;
}
